<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beer Here!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

<!-- repost Nav Bar -->

    <div class="container">
      <div class="row">
        <img class ="local" src="/images/local.jpg" alt="beer">
      </div>

      <div class="container">
        <div class="row">
        <div class="col-md-6">
          <h1>About Us </h1>
          <h5>
           No matter the time of year (or day) there isn't much greater than quenching
           your thirst with a nice cold brew. Whether you're an avid beer lover or just finishing your last
           bottle of milk, the South Florida Brewing scene has plenty to offer. As South Florida beer enthusiasts, we've put together
           a recommended list of Breweries, where each place creates its own beer – producing both classic
           and unique flavors. To find out more about each Brewery we feature, check out our Gallery!</h5>

           <button type="button" class="btn btn-danger">
            <a href="/gallery"> Gallery </a>
           </button>
           <button type="button" class="btn btn-danger">
             <a href="/"> Back to Home </a>
           </button>


        </div>

        <div class="col-md-6">
           <img class="beepour" src ="images/pour.jpg" alt="pour">
        </div>
      </div>
    </div>

  <script type="text/javascript" src="/js/front.js">
  </script>
  </body>
</html>
