<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beer Here!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

  <div class ="main-gallery">
  <div class ="container">

    <div class =title>
      <h3>Miami-Dade County</h3>
    </div>

  <div class = "row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="images/concrete.jpg" alt="concrete">
        <div class="caption">
          <a href="#0"><p>Concrete Beach</p></a>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
       <img src="images/jwake.jpg" alt="jwake">
       <div class="caption">
       <a href="#0"><p>J. Wakefield</p></a>
    </div>
  </div>
</div>

<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
     <img src="images/miabrew.jpg" alt="MIA">
     <div class="caption">
     <a href="#0"><p>MIA Brew</p></a>
  </div>
</div>
</div>

<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
     <img src="images/wynwood.jpg" alt="wood">
     <div class="caption">
     <a href="#0"><p> Wynwood Brewing</p></a>
  </div>
</div>
</div>

  </div>
</div>
</div>

    <div class ="main-gallery">
    <div class ="container">

      <div class =title>
        <h3>Broward/Palm Beach County</h3>
      </div>

    <div class = "row">
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="images/funkybuddha.jpg" alt="funkybudda">
          <div class="caption">
            <a href="#0"><p>Funky Buddha</p></a>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
         <img src="images/lauderale.jpg" alt="lauderale">
         <div class="caption">
         <a href="#0"><p>LauderAle</p></a>
      </div>
    </div>
    </div>

    <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
       <img src="images/26deg.jpg" alt="26">
       <div class="caption">
       <a href="#0"><p>26 degrees</p></a>
    </div>
    </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
         <img src="images/hollywood.jpg" alt="hollywood">
           <div class="caption">
             <a href="#0"><p>Hollywood Brewing Co.</p></a>
          </div>
      </div>
    </div>

    </div>
    </div>
    </div>


  <script type="text/javascript" src="/js/front.js">
  </script>
  </body>
</html>
