<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beer Here!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

  <div class="container">
    <div class="row">
      <h1> Your South Florida Beer Journey Begins Here </h1>
      <nav>
        <a href="/">Home</a>
        <a href="/gallery">Photo Gallery</a>
        <a href="/about"> About Us</a>
      </nav>
    </div>
    <div class="row">
      <img class ="beer-img" src="/images/welcome.jpg" alt="beer">
    </div>
    <div class="row">
      <h1> Experience South Florida's Finest Beers! </h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4> Love Beer? <br> So do we, check out our page <br> to find more about the best
           beers <br> right here in South Florida.
       </h4>
         <button type="button" class="btn btn-danger">
           <a href="/gallery">Photo Gallery </a>
         </button>

      </div>
      <div class="col-md-6">
        <h3>Upcoming Events </h3>
        <ul class="events">
          <li>July 2: Free The Whales<br>
            Craft Beer and Food Celebration <br>
                    by Boxeider Craft Beer Market</li>
          <br>
          <li>July 22: Palm Beach Beer Fest <br>
                  by South Florida Fair Grounds</li>
          <br>
          <li>Aug 26: Wynwood Beer Festival <br>
                   by Wynwood Beer Festival</li>
        </ul>
      </div>
    </div>

  </div>

  <script type="text/javascript" src="/js/front.js">
  </script>
  </body>
</html>
