/*Home Page CSS*/

.beer-img{
 margin-top: 51px;
 width: 100%;
}

nav > a {
  text-decoration: none;
  color:#CF4647;
  padding: 20px;
}

body{
  background-color: black;
  color: #E4EDF6;
  text-align: center;
  font-family:
}

.row .about {
  margin-top: 20px;
}

.events{
 list-style-type:none;
}

/*About Page CSS*/
.local{
  width: 100%;
  height: 300px;
}

.beepour {
  height: 250px;
  width: 275px;

}


/* Gallery Page CSS*/

.gallery{
  text-align: center;
  color:#CF4647;
}
